<!DOCTYPE html>
<html ng-app="tttApp">
  <head>
    <title>TIC TAC TOE</title>
    <link rel="stylesheet" type="text/css" href="css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>  
    <script src="js/underscore.min.js"></script>

  </head>
  <body>
    <div ng-controller="myCtrl">
       <div id="game">
         <ul id="teams">
          <li ng-repeat="player in players" ng-class="{ current: currentPlayer.indicator == $index }">
            <img src="{{ player.img_url }}">
            <h2>Team <span class="team">{{ player.symbol }} </span></h2>
            <h3 class="player" >{{ player.name }}</h3>
          </li>
        </ul>
        <div id="board">
          <div id="{{$index}}" ng-repeat="tile in tiles" class="tile" ng-click="clickTile($index)">{{ tile.letter }}</div>
        </div>
          <div id="results" ng-show="showResults">
            <h1>{{ results }}</h1>
            <span class="image"></span>
            <button>play again</button>
          </div>
      </div>
    </div>



    <!-- SCRIPTS  -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="js/tictactoe.js"></script>
  <script src="js/tttApp.js"></script>

  </body>
</html>


